




.container .popup-image {
    position: fixed;
    top: Center;
    left: center;
    background: rgba(0,0,0,.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.container .popup-image span {
    position: fixed;
    top: 0;
    right: 0;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

.container .popup-image img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #fff;
    border-radius: 5px;
    width: 1000px;
    object-fit:cover ;
}

@media all and (max-width: 768px) {
    
    .container .popup-image img {
        width: 100%;
        top: 50%;
position: fixed;
    }

    h1 {
        
    }
}
